<!DOCTYPE html>
<html lang="en">
	
<!--  01:03 GMT -->
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>- Construction company</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
        

		<link href="{{ url_for('static',filename='assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static',filename='assets/css/owl.carousel.css')}}"rel="stylesheet" type="text/css">
		<link href="{{ url_for('static',filename='assets/css/font-awesome.css')}}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static',filename='assets/css/ionicons.css')}}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static',filename='assets/css/flaticon.css')}}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static',filename='assets/css/simple-line-icons.css')}}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static',filename='assets/css/animate.css')}}" type="text/css" rel="stylesheet">
		<link href="{{ url_for('static',filename='assets/css/jquery-ui.min.css')}}" type="text/css" rel="stylesheet">
		<!--Main Slider-->
		<link href="{{ url_for('static',filename='assets/css/settings.css')}}" type="text/css" rel="stylesheet" media="screen">
		<link href="{{ url_for('static',filename='assets/css/layers.css')}}" type="text/css" rel="stylesheet" media="screen">

		<link href="{{ url_for('static',filename='assets/css/style.css')}}" type="text/css" rel="stylesheet">
		<link href="{{ url_for('static',filename='assets/css/index.css')}}" type="text/css" rel="stylesheet">
		<link href="{{ url_for('static',filename='assets/css/header.css')}}" type="text/css" rel="stylesheet">
		<link href="{{ url_for('static',filename='assets/css/footer.css')}}" type="text/css" rel="stylesheet">
		<link href="{{ url_for('static',filename='assets/css/theme-color/default.css')}}" rel="stylesheet" type="text/css" id="theme-color" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	</head>
	<body>
		<!--loader-->
		<div id="preloader">
			<div class="sk-circle">
				<div class="sk-circle1 sk-child"></div>
				<div class="sk-circle2 sk-child"></div>
				<div class="sk-circle3 sk-child"></div>
				<div class="sk-circle4 sk-child"></div>
				<div class="sk-circle5 sk-child"></div>
				<div class="sk-circle6 sk-child"></div>
				<div class="sk-circle7 sk-child"></div>
				<div class="sk-circle8 sk-child"></div>
				<div class="sk-circle9 sk-child"></div>
				<div class="sk-circle10 sk-child"></div>
				<div class="sk-circle11 sk-child"></div>
				<div class="sk-circle12 sk-child"></div>
			</div>
		</div>
	

		<!-- header Start -->
		<header id="header" class="header">

			<div class="nav-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-3">      
							<div class="logo">
								<a href="index.html"><img src="{{ url_for('static',filename='assets/images/logo.png')}}" alt=""></a>
							</div>
							<!-- Phone Menu button -->
							<button id="menu" class="menu hidden-md-up"></button>
						</div>
						<div class="col-md-9 nav-bg d-flex align-items-center">
							<nav class="navigation">
					
								<ul>
									<li>
										<a href="/">Home</a><i class="ion-ios-plus-empty hidden-md-up"></i>
										
									</li>

									<li>
										<a href="/#about_us">Services</a><i class="ion-ios-plus-empty hidden-md-up"></i>
										
									</li>
									
									<li>
										<a href="/projects">Project</a><i class="ion-ios-plus-empty hidden-md-up"></i>
										
									</li>
									
									
									<li>
										<a href="#contact">Contact Us</a><i class="ion-ios-plus-empty hidden-md-up"></i>
										
									</li>

								</ul>

							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--Header End-->


 {% block script %}  {% endblock %}
 {% block style %}   {% endblock %}
  


 



    {% block body %} {% endblock %}
		
  <!-- Contact Section -->
  <section class="ptb ptb-xs-60" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-8 offset-md-2 text-center">
          <h2>KEEP IN TOUCH</h2>
          <div class="embed-responsive embed-responsive-16by9">
		  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250950.5309991429!2d76.15268658421603!3d10.649179935983883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7dbbd14b4a351%3A0xa9ecb2d4ff2d96e2!2sMR%20Construction!5e0!3m2!1sen!2sin!4v1601621186931!5m2!1sen!2sin" frameborder=""  allowfullscreen aria-hidden="true" tabindex="0"></iframe>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-12 contact pb-60 pt-30">
          <div class="row text-center">
            <div class="col-md-4 col-lg-4 pb-xs-30"> <i class="ion-android-call icon-circle pos-s"></i><a href="#" class="mt-15 i-block">+91 9744110217 <br> 0466-2960217</a> </div>
            <div class="col-md-4 col-lg-4 pb-xs-30"> <i class="ion-ios-location icon-circle pos-s"></i>
              <p  class="mt-15"> MGS Constructions<br> Ashoka Building<br />Pattambi Road<br>Kulappully (P.O)<br>Shornur-2 </p>
				
			</div>
            <div class="col-md-4 col-lg-4 pb-xs-30"> <i class="ion-ios-email icon-circle pos-s"></i><a href="mailto:mgsconstruction@gmail.com"  class="mt-15 i-block">mgsconstructions@gmail.com</a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Section	-->
	<footer class="footer pt-40 pt-xs-60">
		
			<!-- Copyright Bar -->
			<div class="copyright">
					<p class="">
						<a href="" target="_blank">made by DiveInTech</a>
					</p>
			</div>
			<!-- End Copyright Bar -->
		</footer>
		<!-- END FOOTER -->

		<script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
		<script src="{{ url_for('static',filename='assets/js/jquery-ui.min.js')}}" type="text/javascript"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='assets/js/tether.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='assets/js/bootstrap.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='assets/js/owl.carousel.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='assets/js/wow.min.js')}}"></script>
		<!-- masonry,isotope Effect Js -->
		<script src="{{ url_for('static',filename='assets/js/imagesloaded.pkgd.min.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static',filename='assets/js/isotope.pkgd.min.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static',filename='assets/js/masonry.pkgd.min.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static',filename='assets/js/jquery.appear.js')}}" type="text/javascript"></script>
		<!-- revolution Js -->
		<script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery.themepunch.tools.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery.themepunch.revolution.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='assets/extensions/revolution.extension.slideanims.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='assets/extensions/revolution.extension.layeranimation.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='assets/extensions/revolution.extension.navigation.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='assets/extensions/revolution.extension.parallax.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='assets/js/jquery.revolution.js')}}"></script>
		<!-- Compiled and minified JavaScript -->
		<script src="{{ url_for('static',filename='assets/js/jquery.appear.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static',filename='assets/js/custom.js')}}" type="text/javascript"></script>
		
	</body>
    </html>


