{% extends 'base.html' %}
{% block body %}
		<!-- star-banner -->
		<!--  Main Banner Start Here-->
		<div class="main-banner">
			<div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34">
				<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
				<div id="rev_slider_34_1" class="rev_slider" data-version="5.0.7">
					<ul>
						<!-- SLIDE  -->
						<li data-index="rs-129">
							<!-- MAIN IMAGE -->
							<img src="{{ url_for('static',filename='assets/images/banner/banner_1.jpg')}}"  alt=""  class="rev-slidebg" >
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption Newspaper-Title tp-resizeme"
							id="slide-129-layer-1"
							data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
							data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
							data-fontsize="['50','50','50','30']"
							data-lineheight="['55','55','55','35']"
							data-width="['600','600','600','420']"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
							data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-mask_out="x:0;y:0;s:inherit;e:inherit;"
							data-start="1000"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on" >
								<div class="banner-text">
									<span>It's an Amazing Services!</span>
									<h2>Welcome to Construction <span>Services Company</span></h2>

									<p>
											bla blaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa kkkkkkkkkkkkkkkkkk									</p>
									<a class="btn-text" href="about_us.html"> read more</a>
								</div>
							</div>

						</li>
						<!-- SLIDE  -->
						<li data-index="rs-130"   data-title="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="{{ url_for('static',filename='assets/images/banner/banner_2.jpg')}}"  alt=""  class="rev-slidebg" >
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption Newspaper-Title tp-resizeme"
							id="slide-129-layer-2"
							data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
							data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
							data-fontsize="['50','50','50','30']"
							data-lineheight="['55','55','55','35']"
							data-width="['600','600','600','420']"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
							data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-mask_out="x:0;y:0;s:inherit;e:inherit;"
							data-start="1000"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on" >
								<div class="banner-text">
									<span>It's an Amazing Services!</span>
									<h2>Assuring you of Our Best <span>Services & Solutions</span></h2>

									<p>
														blaa									</p>
									<a class="btn-text" href="about_us.html"> read more</a>
								</div>
							</div>

						</li>
						<!-- SLIDE  -->
						<li data-index="rs-131">
							<!-- MAIN IMAGE -->
							<img src="{{ url_for('static',filename='assets/images/banner/banner_3.jpg')}}"  alt=""  class="rev-slidebg" >
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption Newspaper-Title tp-resizeme"
							id="slide-129-layer-3"
							data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
							data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
							data-fontsize="['50','50','50','30']"
							data-lineheight="['55','55','55','35']"
							data-width="['600','600','600','420']"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
							data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-mask_out="x:0;y:0;s:inherit;e:inherit;"
							data-start="1000"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on" >
								<div class="banner-text">
									<span>It's an Amazing Services!</span>
									<h2>We Are Available For <span>Any Construction Work</span></h2>

									<p>
												dmf vdffffffffffffffffffff									</p>
									<a class="btn-text" href="about_us.html"> read more</a>
								</div>
							</div>
						</li>
						<!-- SLIDE  -->
					</ul>
					<div class="tp-bannertimer tp-bottom"></div>
				</div>
			</div>
		</div>
		<!--  Main Banner End Here-->

		<!--About-->
		<section id="about_us" class="padding ptb-xs-40 gray-bg">
			<div class="container">
				<div class="row d-flex align-items-center">
					<div class="col-md-12 col-lg-7 about-left">

						<div class="sec_hedding">
							<h2><span>About </span>Company</h2>
							<span class="b-line l-left"></span>
						</div>
						<p>
							description about the companyyyyyyyyy.....................
						</p>
					</div>

				</div>

			</div>
		</section>
		<!--About Us-->

		<!-- OUR_Service -->
		<section id="service_section" class="padding ptb-xs-40">
			<div class="container-fluid">
				<div class="row text-center mb-30">
					<div class="col-sm-12">
						<div class="sec_hedding">
							<h2><span>Our</span> Recent Projects</h2>
							<span class="b-line"></span>
						</div>
					</div>
				</div>





		<div class="row mt-10">
			<div class="col-md-12">
				<div id="team-carousel" class="owl-carousel team-carousel nf-carousel-theme" >






				
						<div class="maine_box">
							<div class="items_picher">
								<img src="{{ url_for('static',filename='assets/images/service/img_1.jpg')}}" alt="" />
							</div>

							<div class="box_detail">
								<div class="use_detail">
									<div class="event_detail">
										<i class="flaticon-tool-1"></i>
									</div>
								</div>
								<div class="datail_show">
									<h3>Construction Management</h3>
									<p>
										Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor...
									</p>
									<a href="#!">Read More</a>
								</div>
							</div>

						</div>
					

						<div class="maine_box">
							<div class="items_picher">
								<img src="{{ url_for('static',filename='assets/images/service/img_2.jpg')}}" alt="" />
							</div>

							<div class="box_detail">
								<div class="use_detail">
									<div class="event_detail">
										<i class="flaticon-tool"></i>
									</div>
								</div>
								<div class="datail_show">
									<h3>Reconstruction Services</h3>
									<p>
										Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor...
									</p>
									<a href="#!">Read More</a>
								</div>
							</div>

						</div>
					

						<div class="maine_box">
							<div class="items_picher">
								<img src="{{ url_for('static',filename='assets/images/service/img_3.jpg')}}" alt="" />
							</div>

							<div class="box_detail">
								<div class="use_detail">
									<div class="event_detail">
										<i class="flaticon-worker-of-construction-working-with-a-shovel-beside-material-pile"></i>
									</div>
								</div>
								<div class="datail_show">
									<h3>Building Information</h3>
									<p>
										Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor...
									</p>
									<a href="#!">Read More</a>
								</div>
							</div>

						</div>

						<div class="maine_box">
							<div class="items_picher">
								<img src="{{ url_for('static',filename='assets/images/service/img_4.jpg')}}" alt="" />
							</div>

							<div class="box_detail">
								<div class="use_detail">
									<div class="event_detail">
										<i class="flaticon-helmet"></i>
									</div>
								</div>
								<div class="datail_show">
									<h3>Project Partnering</h3>
									<p>
										Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor...
									</p>
									<a href="#!">Read More</a>
								</div>
							</div>
							</div>
						

						<div class="maine_box">
							<div class="items_picher">
								<img src="{{ url_for('static',filename='assets/images/service/img_5.jpg')}}" alt="" />
							</div>

							<div class="box_detail">
								<div class="use_detail">
									<div class="event_detail">
										<i class="flaticon-skyline"></i>
									</div>
								</div>
								<div class="datail_show">
									<h3>Roofing & Flooring</h3>
									<p>
										Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor...
									</p>
									<a href="#!">Read More</a>
								</div>
							</div>

						</div>

						<div class="maine_box">
							<div class="items_picher">
								<img src="{{ url_for('static',filename='assets/images/service/img_6.jpg')}}" alt="" />
							</div>

							<div class="box_detail">
								<div class="use_detail">
									<div class="event_detail">
										<i class="flaticon-home-improvement"></i>
									</div>
								</div>
								<div class="datail_show">
									<h3>Program Management</h3>
									<p>
										Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor...
									</p>
									<a href="#!">Read More</a>
								</div>
							</div>

						</div>
					

						

						<div class="maine_box">
							<div class="items_picher">
								<img src="{{ url_for('static',filename='assets/images/service/img_2.jpg')}}" alt="" />
							</div>

							<div class="box_detail">
								<div class="use_detail">
									<div class="event_detail">
										<i class="flaticon-tool"></i>
									</div>
								</div>
								<div class="datail_show">
									<h3>Reconstruction Services</h3>
									<p>
										Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor...
									</p>
									<a href="#!">Read More</a>
								</div>
							</div>

						</div>

				</div>
			</div>
	</div>
		</section>
		<!-- OUR_Service END-->

		<!-- Project_Section -->
		<section class="padding ptb-xs-40">
			<div class="container">
				
				<div class="row text-center mb-30">
					<div class="col-sm-12">
						<div class="sec_hedding">
							<h2><span>Our</span> Project</h2>
							<span class="b-line"></span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4 mb-sm-30 mb-xs-30">
						<div class="position_relative img-scale max_size">

							<figure class="picher_doc">
								<img src="{{ url_for('static',filename='assets/images/project/img_11.jpg')}}" alt="">

								<div class="opacity-medium bg-extra-black"></div>
								
								<div class="inner_text">
									<div class="link-wrap"> <a href="{{ url_for('static',filename='assets/images/project/img_11.jpg')}}"title="Brand Promotion" class="lightbox-image"><i class="fa fa-search"></i></a> <a href="projects-single.html"><i class="fa fa-link"></i></a> </div>

									<h3 class="show_tital">Big bugets for startup</h3>

									<p class="display_block">
										A Rich Heritage &amp; Brand History
									</p>
									<button class="btn btn-text" type="button" name="button"><a href="{{ url_for('static',filename='assets/images/project/img_11.jpg')}} "title="Brand Promotion" class="lightbox-image"></a>
										view More
									</button>
								</div>
							</figure>
						</div>
					</div>

					<div class="col-lg-4 mb-sm-30 mb-xs-30">
						<div class="position_relative img-scale max_size">
							<figure class="picher_doc">
								<img src="{{ url_for('static',filename='assets/images/project/img_22.jpg')}}" alt="">
								<div class="opacity-medium bg-extra-black"></div>
								
								<div class="inner_text">
									<h3 class="show_tital">Big bugets for startup</h3>

									<p class="display_block">
										A Rich Heritage &amp; Brand History
									</p>
									<button class="btn btn-text" type="button" name="button">
										view More
									</button>
								</div>
							</figure>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="position_relative img-scale max_size">
							<figure class="picher_doc">
								<img src="{{ url_for('static',filename='assets/images/project/img_33.jpg')}}" alt="">
								<div class="opacity-medium bg-extra-black"></div>
								
								<div class="inner_text">
									<h3 class="show_tital">Big bugets for startup</h3>

									<p class="display_block">
										A Rich Heritage &amp; Brand History
									</p>
									<button class="btn btn-text" type="button" name="button">
										view More
									</button>
								</div>
							</figure>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- Project_Section_End-->






		
		
		
		
		
		
		<!-- Team Section -->
		<section id="team" class="padding ptb-xs-40 text-center gray-bg">
			<div class="container">
				<div class="row text-center mb-30">
					<div class="col-sm-12">
						<div class="sec_hedding">
							<h2><span>Our</span> Team</h2>
							<span class="b-line"></span>
						</div>
					</div>
				</div>

				<!--Team Carousel -->
				<div class="row mt-10">
					<div class="col-md-12">
						<div id="team-carousel" class="owl-carousel team-carousel nf-carousel-theme">

							<div class="team_head">
								<div class="team_view">
									<figure>
										<img src="{{ url_for('static',filename='assets/images/team/01.jpg')}}" alt="">
									</figure>

									<div class="team_hover text-center">
										<div>
											<ul>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-facebook"></i></a>
												</li>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-twitter"></i></a>
												</li>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-google-plus"></i></a>
												</li>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-instagram"></i></a>
												</li>
											</ul>
											<p class="text-white">
												Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											</p>
										</div>
									</div>
								</div>
								<div class="team_discoption text-center mt-15">
									<span class="team_name">Kevin Peterson</span>
									<span class="postion">Engineer</span>
								</div>
							</div>

							<div class="team_head">
								<div class="team_view">
									<figure>
										<img src="{{ url_for('static',filename='assets/images/team/02.jpg')}}" alt="">
									</figure>

									<div class="team_hover text-center">
										<div>
											<ul>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-facebook"></i></a>
												</li>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-twitter"></i></a>
												</li>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-google-plus"></i></a>
												</li>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-instagram"></i></a>
												</li>
											</ul>
											<p class="text-white">
												Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											</p>
										</div>
									</div>
								</div>
								<div class="team_discoption text-center mt-15">
									<span class="team_name">Kevin Peterson</span>
									<span class="postion">Engineer</span>
								</div>
							</div>

							<div class="team_head">
								<div class="team_view">
									<figure>
										<img src="{{ url_for('static',filename='assets/images/team/03.jpg')}}" alt="">
									</figure>

									<div class="team_hover text-center">
										<div>
											<ul>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-facebook"></i></a>
												</li>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-twitter"></i></a>
												</li>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-google-plus"></i></a>
												</li>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-instagram"></i></a>
												</li>
											</ul>
											<p class="text-white">
												Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											</p>
										</div>
									</div>
								</div>
								<div class="team_discoption text-center mt-15">
									<span class="team_name">Kevin Peterson</span>
									<span class="postion">Engineer</span>
								</div>
							</div>

							<div class="team_head">
								<div class="team_view">
									<figure>
										<img src="{{ url_for('static',filename='assets/images/team/04.jpg')}}" alt="">
									</figure>

									<div class="team_hover text-center">
										<div>
											<ul>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-facebook"></i></a>
												</li>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-twitter"></i></a>
												</li>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-google-plus"></i></a>
												</li>
												<li>
													<a href="#" target="_blank" class="text-white"><i class="fa fa-instagram"></i></a>
												</li>
											</ul>
											<p class="text-white">
												Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											</p>
										</div>
									</div>
								</div>
								<div class="team_discoption text-center mt-15">
									<span class="team_name">Kevin Peterson</span>
									<span class="postion">Engineer</span>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!--End Team Carousel -->
			</div>
		</section>
		<!-- End Team Section -->
	<!--Quick Quote Section start-->
	<section id="feadback" class="padding ptb-xs-40 img_bg1">
		<div class="container">
			<div class="row text-center mb-30  light-color">
				<div class="col-sm-12">
					<div class="sec_hedding">
						<h2><span>Quick</span> Quote</h2>
						<span class="b-line"></span>
					</div>
				</div>
			</div>
			<div class="row">

				<div class=" col-md-12 col-lg-12">

					<!-- Contact FORM -->
					<form class="quote-form" id="contact">
						<!-- IF MAIL SENT SUCCESSFULLY -->
						<div id="success">
							<div role="alert" class="alert alert-success">
								<strong>Thanks</strong> for using our template. Your message has been sent.
							</div>
						</div>
						<!-- END IF MAIL SENT SUCCESSFULLY -->
						<div class="row">
							<div class="col-md-4 col-lg-4">
								<div class="form-field">
									<input class="input-sm form-full" id="name" type="text" name="form-name" placeholder="Your Name">
								</div>
							</div>

							<div class="col-md-4 col-lg-4">
								<div class="form-field">
									<input class="input-sm form-full" id="email" type="text" name="form-email" placeholder="Email">
								</div>
							</div>

							<div class="col-md-4 col-lg-4">
								<div class="form-field">
									<input class="input-sm form-full" id="sub" type="text" name="form-subject" placeholder="Subject">
								</div>
							</div>

							<div class="col-md-10 col-lg-10">
								<div class="form-field">
									<textarea class="form-full" id="message" rows="7" name="form-message" placeholder="Your Message"></textarea>
								</div>
							</div>
							<div class="col-md-2 col-lg-2 d-flex align-items-center">
								<button class="bnt btn-text sent-but mt-xs-30" type="button" id="submit" name="button">
									Send
								</button>
							</div>
						</div>
					</form>
					<!-- END Contact FORM -->
				</div>

			</div>

		</div>
	</section>
	<!--Quick Quote Section end-->
	
	{% endblock %}
